<p-table [value]="currentOccupancies">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="locationType">Location <p-sortIcon field="locationType"></p-sortIcon></th>
            <th pSortableColumn="zone">Zone<p-sortIcon field="zone"></p-sortIcon></th>
            <th pSortableColumn="currentCapacity"># No Occupants<p-sortIcon field="currentCapacity"></p-sortIcon></th>
            <th pSortableColumn="maxCapacity">Max Capacity <p-sortIcon field="maxCapacity"></p-sortIcon></th>
            <th pSortableColumn="occupancyPercent">% Occupancy <p-sortIcon field="occupancyPercent"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-occupancy>
        <tr>
        <td>{{occupancy.locationType}}</td>
        <td>{{occupancy.zone}}</td>
        <td>{{occupancy.currentCapacity}}</td>
        <td>{{occupancy.maxCapacity}}</td>
        <td>
            <div [ngClass]="{'overCrowded': (occupancy.occupancyPercent > 90),'nearlyFull': (occupancy.occupancyPercent <= 90 && occupancy.occupancyPercent > 75),
                 'rightSized': (occupancy.occupancyPercent >= 25 && occupancy.occupancyPercent <= 75), 'veryLow': (occupancy.occupancyPercent >= 0 && occupancy.occupancyPercent <= 25) }" >
                {{occupancy.occupancyPercent}}%
            </div>
        </td>
        </tr>
    </ng-template>
</p-table>