.overCrowded {
    font-weight: 700;
    color: #ff0000;
}

.nearlyFull {
    font-weight: 700;
    color: #FF7F50;
}

.rightSized {
    font-weight: 700;
    color: #2e8b57;
}

.veryLow {
    font-weight: 700;
    color: #2e8b57;
}