<p-table [value]="currentOccupancies">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="locationType">Location <p-sortIcon field="locationType"></p-sortIcon></th>
            <th pSortableColumn="zone">Zone<p-sortIcon field="zone"></p-sortIcon></th>
            <th pSortableColumn="currentCapacity">Current <p-sortIcon field="currentCapacity"></p-sortIcon></th>
            <th pSortableColumn="maxCapacity">Capacity <p-sortIcon field="maxCapacity"></p-sortIcon></th>
            <th pSortableColumn="occupancyPercent">% Occupancy <p-sortIcon field="occupancyPercent"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-occupancy>
        <tr>
        <td>{{occupancy.locationType}}</td>
        <td>{{occupancy.zone}}</td>
        <td>{{occupancy.currentCapacity}}</td>
        <td>{{occupancy.maxCapacity}}</td>
        <td>
            <div [ngClass]="{'overOccupied': (occupancy.occupancyPercent > 100),'inRange': occupancy.occupancyPercent < 100}">
                {{occupancy.occupancyPercent}}%
            </div>
        </td>
        </tr>
    </ng-template>
</p-table>