<ejs-sidebar #dockBar id="dockSidebar" [enableDock]='enableDock' [width]='width' [dockSize]='dockSize'>
    <div class="dock">
        <ul>
            <li class="sidebar-item" id="toggle" (click)="toggleClick()">
                <span class="e-icons expand"></span>
                <span class="e-text" title="menu">Menu</span>
            </li>
            <li class="sidebar-item">
                <span class="e-icons home"></span>
                <span class="e-text" title="home">Home</span>
            </li>
            <li class="sidebar-item">
                <span class="e-icons profile"></span>
                <span class="e-text" title="profile">Profile</span>
            </li>
            <li class="sidebar-item">
                <span class="e-icons info"></span>
                <span class="e-text" title="info">Info</span>
            </li>
            <li class="sidebar-item">
                <span class="e-icons settings"></span>
                <span class="e-text" title="settings">Settings</span>
            </li>
        </ul>
    </div>
</ejs-sidebar>
<div class="control-section">
    <ejs-dashboardlayout columns="5" #default_dashboard [cellSpacing]='cellSpacing'  [allowResizing]='true'>
        <e-panels>
            <e-panel [sizeX]="5" [sizeY]="1.4" [row]="0" [col]="0">
                <ng-template #header>
                    <div>Occupancy Curves</div>
                </ng-template>
                <ng-template #content>
                    <div id="column">
                        <occupancy-curve></occupancy-curve>
                    </div>
                </ng-template>
            </e-panel>
            <e-panel [sizeX]="3.25" [sizeY]="1.4" [row]="1.4" [col]="0">
                <ng-template #header>
                    <div>Current Occupation</div>
                </ng-template>
                <ng-template #content>
                    <div id="column">
                        <current-occupation></current-occupation>
                    </div>
                </ng-template>
            </e-panel>
            <e-panel [sizeX]="1.75" [sizeY]="1.4" [row]="1.4" [col]="4">
                <ng-template #header>
                    <div>Occupancy Rates</div>
                </ng-template>
                <ng-template #content>
                    <div id="column">
                        <occupancy-rates></occupancy-rates>
                    </div>
                </ng-template>
            </e-panel>
        </e-panels>
    </ejs-dashboardlayout>
</div>

<!--end of main content declaration -->