<ejs-sidebar #dockBar id="dockSidebar" [enableDock]='enableDock' [width]='width' [dockSize]='dockSize'>
    <div class="dock">
        <ul>
            <li class="sidebar-item" id="toggle" (click)="toggleClick()">
                <span class="e-icons expand"></span>
                <span class="e-text" title="menu">Menu</span>
            </li>
            <li class="sidebar-item">
                <span class="e-icons home"></span>
                <span class="e-text" title="home">Home</span>
            </li>
            <li class="sidebar-item">
                <span class="e-icons profile"></span>
                <span class="e-text" title="profile">Profile</span>
            </li>
            <li class="sidebar-item">
                <span class="e-icons info"></span>
                <span class="e-text" title="info">Info</span>
            </li>
            <li class="sidebar-item">
                <span class="e-icons settings"></span>
                <span class="e-text" title="settings">Settings</span>
            </li>
        </ul>
    </div>
</ejs-sidebar>
<div class="control-section">
    <ejs-dashboardlayout id='default_dashboard' columns="5" #default_dashboard [cellSpacing]='cellSpacing'  [allowResizing]='true'>
        <div id="one" class="e-panel" data-sizeX="5" data-sizeY="1" data-row="0" data-col="0">
            <div class="e-panel-container">
                <occupancy-curve></occupancy-curve>
            </div>
        </div>
        <div id="three" class="e-panel" data-sizeX="3" data-sizeY="1" data-row="1" data-col="0" >
            <div class="e-panel-container">
                <div class="text-align">2</div>
            </div>
        </div>
        <div id="four" class="e-panel" data-sizeX="2" data-sizeY="1" data-row="1" data-col="3" >
            <div class="e-panel-container">
                <div class="text-align">3</div>
            </div>
        </div>
    </ejs-dashboardlayout>
</div>

<!--end of main content declaration -->