<!--<p-card header="Occupancy Rates" [style]="{ 'margin-bottom': '0em'}" >
    <p-button label="Library" icon="pi pi-arrow-down"  size="small" styleClass="p-button-success" badge="-8%" badgeClass="p-badge-success"></p-button>&nbsp;
    <p-button label="Office" icon="pi pi-arrow-up"  size="small" styleClass="p-button-danger" badge="+22%" badgeClass="p-badge-danger"></p-button>&nbsp;
    <p-button label="Rest Rooms" icon="pi pi-arrow-up"  size="small" styleClass="p-button-danger" badge="+4%" badgeClass="p-badge-danger"></p-button>
</p-card>-->

<p-card header="Occupancy Rates" [style]="{ 'margin-bottom': '0em'}" >
    <ejs-circulargauge id="circular-container" width="350" height="250">
        <e-axes>
            <e-axis>
                <e-pointers>
                    <e-pointer value=35></e-pointer>
                </e-pointers>
            </e-axis>
        </e-axes>
    </ejs-circulargauge>
</p-card>