<p-card>
    <div class="grid">
        <div class="col-12">
            <ejs-circulargauge #axes='' id="axis-container" #multipleAxes  [title]='title'[titleStyle]='titleStyle' [margin]='margin' [legendSettings]='legendSettings' 
            [tooltip]="tooltip" style='display:block;width:100%;height:415px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;'>
                <e-axes>
                    <e-axis radius='95%' [lineStyle]='lineStyle1' [labelStyle]='labelStyle1' [majorTicks]='majorTicks1' [minorTicks]='minorTicks1'
                        minimum=0 maximum=100 startAngle=220 endAngle=140>
                        <e-pointers>
                            <e-pointer value=40 radius='100%' pointerWidth="20"  [markerHeight]='markerHeight' [markerWidth]='markerWidth'
                                type='Marker' markerShape='Triangle'>
                            </e-pointer>
                        </e-pointers>
                    </e-axis>
                    <e-axis radius='95%' [lineStyle]='lineStyle2' [labelStyle]='labelStyle2' [majorTicks]='majorTicks2' [minorTicks]='minorTicks2'
                        minimum=0 maximum=240 startAngle=220 endAngle=140>
                        <e-pointers>
                            <e-pointer value=120 radius='100%' pointerWidth="20" color="#C62E0A" [markerHeight]='markerHeight' [markerWidth]='markerWidth'
                                type='Marker' markerShape='InvertedTriangle'>
                            </e-pointer>
                        </e-pointers>
                    </e-axis>
                    <e-axis radius='95%' [lineStyle]='lineStyle3' [labelStyle]='labelStyle3' [majorTicks]='majorTicks3' [minorTicks]='minorTicks3'
                        minimum=0 maximum=240 startAngle=220 endAngle=140>
                        <e-pointers>
                            <e-pointer value=45 radius='100%' pointerWidth="20" color="#6e57d2" [markerHeight]='markerHeight' [markerWidth]='markerWidth'
                                type='Marker' markerShape='InvertedTriangle'>
                            </e-pointer>
                        </e-pointers>
                    </e-axis>
                </e-axes>
        </ejs-circulargauge>
        </div>
        <div class="col-12">
           <table style="width:100%;color:black;font-family:Verdana;font-size: small;">
            <tr>
                <td bgcolor="#00BFFF">Restrooms</td>
                <td bgcolor="#E84011">Home Rooms</td>
                <td bgcolor="#66cdaa">Library</td>
                <td bgcolor="#CCFFCC">FrontOffice</td>
            </tr>
           </table>
        </div>
    </div>

</p-card>