<!--<p-card [style]="{ 'margin-top': '0em', 'margin-bottom': '0em'}">
    <div class="grid">
        <div class="col-12">
            <ejs-chart style='display:block' align='center' id='chartcontainer' [title]='title' [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'
                [tooltip]='tooltip' [chartArea]='chartArea' [width]='width'>
            <e-series-collection>
                <e-series [dataSource]='officeDataPoints' type='Line' xName='x' yName='y' name='Offices' width=2 [marker]='marker'> </e-series>
                <e-series [dataSource]='restRoomsDataPoints' type='Line' xName='x' yName='y' name='Restrooms' width=2 [marker]='marker'> </e-series>
            </e-series-collection>
        </ejs-chart>
        </div>
    </div>
</p-card>-->